@mixin tablet {
  @media screen and (min-width: $tablet * 1px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: $laptop * 1px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: $large * 1px) {
    @content;
  }
}

@mixin largest {
  @media screen and (min-width: $largest * 1px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop * 1px) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-center-stretch {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@mixin truncate($overflow: ellipsis) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: $overflow;
}

@mixin apparition {
  opacity: 0;
  transform: translateY(3rem);

  &:nth-child(3) {
    animation: appear 0.8s 0.2s ease-out forwards;
  }

  &:nth-child(4) {
    animation: appear 0.8s 0.4s ease-out forwards;
  }

  &:nth-child(5) {
    animation: appear 0.8s 0.6s ease-out forwards;
  }

  &:nth-child(6) {
    animation: appear 0.8s 0.8s ease-out forwards;
  }

  @keyframes appear {
    100% {
      opacity: 1;
      transform: none;
    }
  }
}