$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-third: #99E2D0;
$color-white: #fff;

$color-backgound: #F6F6F6;
$color-backgound-footer: #353535;
$color-background-new: #99E2D0;
$color-background-selected: #F5EDFF;

$color-text-new: #008766;

$shadow-light: rgb(161, 161, 161);
$shadow-medium: 7px 7px 7px 1px rgba(161,161,161,0.81);
$shadow-dark: rgb(85, 84, 84);

$color-gray-light: #7e7e7e;
$color-gray-mid: #eaeaea;


$box-shadow: 0px 0px 10px $shadow-light;

// média query
$tablet: 426;
$laptop: 769;
$large: 1025;
$largest: 1069;
$desktop: 1440;