:root {
  font-size: 62.5%;
}

::placeholder {
  color: var(--gray);
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-weight: normal;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-size: 1.8rem;
  font-weight: normal;
}

button, 
a 
{
  cursor: pointer;
}

button {
  border: none;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--black);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.fa-heart {
  font-size: 22px;
}

