.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2.8rem;
  font-size: 1.6rem;
  width: 100%;
  height: 20rem;
  color: $color-white;
  background: $color-backgound-footer;
  padding-left: 30px;
}

.footer-container {
    @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "title title"
    "suggestion legacy"
    "become contact";

    &__title {
      grid-area: title;
    }
    &__suggestion {
      grid-area: suggestion;
    }
    &__legacy {
      grid-area: legacy;
    }
    &__become {
      grid-area: become;
    }
    &__contact {
      grid-area: contact;
    }

    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  a {
    transition: .3s;
  }

  a:hover {
    font-size: 1.65rem;
  }

    @include large {
    width: 1024px;
    margin: auto;
    justify-items: center;
  }
}

.footer-container__title { 
  font-family: 'Shrikhand', sans-serif;
  padding-bottom: 1.4rem;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.utensils::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.4rem;
  padding-right: 1.3rem;
  content: "\f2e7"; 
}

.hands-helping::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.2rem;
  padding-right: 1rem;
  content: "\f4c4"; 
}
