.btn {
  width: 220px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border-radius: 35px;
  box-shadow: $box-shadow;
  background-image: linear-gradient(174deg, $color-secondary, $color-primary);
  opacity: 1;
  transition: 0.4s;

  &:hover {
    opacity: .8;
    box-shadow: 1px 4px 9px 2px #858383;
  }
}

