.heart-icon {
  position: relative;
  padding: 2rem;
}

.heart::before {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 300;
  position:relative;
  display: block;
  font-size: 22px;
  color: #666;
}

.heart::after {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 22px;
  opacity: 0;
  transition: .3s ease-out;

  background-image: -moz-linear-gradient(to bottom, $color-secondary, $color-primary);
  background-image: linear-gradient(to bottom, $color-secondary, $color-primary);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart:hover::after {
  opacity: 1;
}