.restaurant__card {
  @include flex-column-center-stretch;
  height: 100%;
  margin-bottom: 20px;
  position: relative;

  &:hover {
    transform: scale(1.01);
  }

  a {
    transition: all .4s ease;
    box-shadow: $box-shadow;
  }

  a:hover {
    box-shadow: 1px 4px 9px 2px #a1a1a1;
  }

  &__img {
    height: 17.5rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;
  }

  &__new {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 80px;
    background: $color-background-new;
    color: $color-text-new;
    font-size: 1.4rem;
    text-align: center;
    line-height: 30px;
    vertical-align:middle;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: $color-white;
    border-radius: 0 0 1.5rem 1.5rem;
  }

  p {
    color: $color-gray-light;
  }

  a {
    box-shadow: 3px 3px 10px 5px rgba(230, 227, 227, 0.81);
    border-radius: 1.5rem;
  }
}

